.navbar {
    width: 100%;
    height: 200px;
    background-color: #0398dc;
    margin-bottom: 100px;
}

.navbarTopSection {
    width: 80%;
    height: 100%;
    margin: auto;
}

.navbarTopHeadingSection {
    height: 15%;
    font-size: smaller;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.navbarTopDataSection {
    height: 85%;
}

.navbarContainer {
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: rgb(3 169 244);
}

.navbarSection {
    position: sticky;
    top: 0%;
    width: 80%;
    margin: auto;
    height: 100%;
}

.navbarLeftSection {
    width: 60%;
    height: 100%;
}


.navbarLeftImageSection {
    width: 20%;
}

.navbarLeftImageSection>img {
    width: 100%;
}

.navbarRightDataSection {
    width: 70%;
    height:50%;
}

.navbarRightSection{
    width: 35%;
    height: 100%;
}

.navbarHover:hover{
    background-color: black;
}

